UnityProject/Temp/*
UnityProject/Library/*
UnityProject/Build/*
#Un-ignore these specific files
!UnityProject/Library/*.asset
!UnityProject/Library/AssetImportState
!UnityProject/Library/AssetVersioning.db
!UnityProject/Library/BuildPlayer.prefs
!UnityProject/Library/ScriptMapper
!UnityProject/Library/assetservercachev3
!UnityProject/Library/expandedItems
!UnityProject/Library/guidmapper
!UnityProject/Library/unity default resources
!UnityProject/Library/unity editor resources
!UnityProject/Library/metadata/

# Mac crap
.DS_Store
